body{
    background-image: url(../img/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#container{
    width: 50%;
    border: 1px solid #000;
    padding: 20px;
    margin: auto;
    background-color: rgba(0 0 0 / 0.8);
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0px 4px 30px 26px #fff243a8;
}

.logo{
    background-image: url(..//img/LOGO.png);
    width: 290px;
    height: 145px;
    margin: auto;
}

.rocket{
    background-image: url(../img/rocket.png);
    width: 96px;
    height: 135px;
    position: absolute;
    margin-top: -164px;
    background-size: cover;
}

section{
    border: 1px solid blue;
    width: 98%;
    background-color: #000;
    height: 270px;
    border-radius: 25px;
    box-shadow: 3px 1px 12px 10px red;
    margin: auto;
}

.box{
    width: 380px;
    height: 220px;
    float: left;
    margin: 2px;
}

.box video{
    width: 364px;

}

.box audio{
    margin-top: 80px;
    margin-left: 42px;
}

.ladoA{
    background-color: #000;
    border-radius: 14px 0 0 14px;
    border-right: 1px solid orange;
}

.ladoB{
    background-color: #000;
    border-radius: 0 14px 14px 0;
    border-left: 1px solid orange;
}